.page-wrapper {
  width: 550px;
  margin: 2.5em auto;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: #efefef;
  padding: 40px;
}

.name-form {
}

.label {
  margin-right: 10px;
}

.name-input {
  border: none;
  background: aquamarine;
  margin: 4px;
  padding: 4px;
}

.name-input::placeholder {
  color: blue;
}

.submit-button {
  background-color: steelblue;
  border: none;
  border-radius: 3px;
  padding: 4px;
  padding-right: 7px;
  padding-left: 7px;
  color: white;
}

.todo-button {
  border: none;
  color: red;
  padding-right: 10px;
}

.todo-checkbox {
  margin-right: 20px;
}
